In [1]:
# import libraries
import sqlite3 as sl
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def get_db_connn(path_to_db):
    conn = sl.connect(path_to_db)
    return conn


def get_table_names(conn):
    query = """
            select name from sqlite_master where type='table';
            """
    res = conn.execute(query).fetchall()
    table_names = [r[0] for r in res]
    return table_names


def get_table_column_names(conn, table_name):
    query = f"""
            pragma table_info({table_name})
            """
    res = conn.execute(query).fetchall()
    col_names = [r[1] for r in res]
    return col_names


def load_table_as_df(conn, table_name, to_display=True):
    query = f"""
            select * from {table_name}
            """
    df = pd.read_sql(query, conn)
    if to_display:
        display(df.head())
    return df

In [3]:
db_path = '../data/northWind.sqlite'
conn = get_db_connn(db_path)

# get the table names first of all
print(get_table_names(conn))

['Employee', 'Category', 'Customer', 'Shipper', 'Supplier', 'Order', 'Product', 'OrderDetail', 'CustomerCustomerDemo', 'CustomerDemographic', 'Region', 'Territory', 'EmployeeTerritory']

In [ ]:
print(get_table_column_names(conn, 'OrderDetail'))

In [ ]:
#get the data for order quantities and discounts

q_orderdetails = """select * from OrderDetail;"""

orderdetails_df = pd.read_sql(q_orderdetails, conn)
orderdetails_df.head()

In [ ]:
print(orderdetails_df.info())
orderdetails_df.describe()

In [ ]:
plt.figure(figsize=(10,8))
sns.scatterplot(x="Discount", 
                y="Quantity",
                data=orderdetails_df)
plt.xlabel("Discount")
plt.ylabel("Quantity")

In [ ]:
print(np.sort(orderdetails_df['Discount'].unique()))

There are a few discounts between zero and 5%, and 1 between 5% and 10%.
Suggest we use the follow discount categories to do **Order** group by: 0%, 5% or less, between 5 %-10%, 15%, 20%, 25%

Could also simplify:
**control**: No Discount for Product
**treatment**: Some Discount (no matter what amount) for Product

In [10]:
print(get_table_column_names(conn, 'Employee'))

['Id', 'LastName', 'FirstName', 'Title', 'TitleOfCourtesy', 'BirthDate', 'HireDate', 'Address', 'City', 'Region', 'PostalCode', 'Country', 'HomePhone', 'Extension', 'Photo', 'Notes', 'ReportsTo', 'PhotoPath']

In [11]:
print(get_table_column_names(conn, 'EmployeeTerritory'))

['Id', 'EmployeeId', 'TerritoryId']

In [14]:
print(get_table_column_names(conn, 'Order'))

OperationalError: near "Order": syntax error

In [15]:
query = """ pragma table_info('Order'); """
res = conn.execute(query).fetchall()
col_names = [r[1] for r in res]
print(col_names)

['Id', 'CustomerId', 'EmployeeId', 'OrderDate', 'RequiredDate', 'ShippedDate', 'ShipVia', 'Freight', 'ShipName', 'ShipAddress', 'ShipCity', 'ShipRegion', 'ShipPostalCode', 'ShipCountry']

In [16]:
#get the data for order ids (one id is one order) joined with employee territory

orders_w_territory_q = """
                        SELECT Order.Id, Order.EmployeeId, EmployeeTerritory.TerritoryId
                        FROM Order
                        INNER JOIN EmployeeTerritory ON Order.EmployeeId=EmployeeTerritory.EmployeeId;
                        """

df = pd.read_sql(orders_w_territory_q, conn)
print(df.shape)
df.head()

DatabaseError: Execution failed on sql '
                        SELECT Order.Id, Order.EmployeeId, EmployeeTerritory.TerritoryId
                        FROM Order
                        INNER JOIN EmployeeTerritory ON Order.EmployeeId=EmployeeTerritory.EmployeeId;
                        ': near "Order": syntax error

In [ ]:
#get the data for order ids (one id is one order) joined with employee territory

q_emp_terr = """
            SELECT Employee.Id, EmployeeTerritory.TerritoryId
            FROM Employee
            INNER JOIN EmployeeTerritory ON Employee.Id=EmployeeTerritory.EmployeeId;
            """

df = pd.read_sql(q_emp_terr, conn)
df.head()

In [ ]:
print(df.shape)
print(len(df['TerritoryId'].unique()))

In [ ]:
q_emp_terr = """
            SELECT Employee.Id, EmployeeTerritory.TerritoryId
            FROM Employee
            INNER JOIN EmployeeTerritory ON Employee.Id=EmployeeTerritory.EmployeeId;
            """

df = pd.read_sql(q_emp_terr, conn)
df.head()

In [29]:
print(get_table_column_names(conn, 'CustomerCustomerDemo'))

temp1_df = pd.read_sql('select * from CustomerCustomerDemo;', conn)
temp1_df.info()

['Id', 'CustomerTypeId']
<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              0 non-null      object
 1   CustomerTypeId  0 non-null      object
dtypes: object(2)
memory usage: 0.0+ bytes

In [31]:
print(get_table_column_names(conn, 'CustomerDemographic'))

temp2_df = pd.read_sql('select * from CustomerDemographic;', conn)
temp2_df.info()

['Id', 'CustomerDesc']
<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            0 non-null      object
 1   CustomerDesc  0 non-null      object
dtypes: object(2)
memory usage: 0.0+ bytes

# Question 1: Is there a difference in quantity of products sold by discount rate?

In [ ]:
# obtain necessary data

## {Put test name here}
H0: 

HA:

In [ ]:
# perform test

## Conclusion

## EffectSize/PowerAnalysis/Tukey Testing (if needed)

# Question 2: Is there a difference in number of orders and territory?

In [ ]:
# obtain necessary data

## {Put test name here}
H0: 

HA:

In [ ]:
# perform test

## Conclusion

# Question 3: {You decide}

# Question 1: Is there a difference in quantity of products sold by discount rate?

In [ ]:
# obtain necessary data

## {Put test name here}
H0: 

HA:

In [ ]:
# perform test

## Conclusion

## EffectSize/PowerAnalysis/Tukey Testing (if needed)

# Question 2: Is there a difference in number of orders and territory?

In [ ]:
# obtain necessary data

## {Put test name here}
H0: 

HA:

In [ ]:
# perform test

## Conclusion